workflow.json
{
  "name": "WhatsApp-GDrive-Assistant",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-gdrive",
        "method": "POST"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\n                const message = items[0].json.body.Body || '';\n                const parts = message.split(' ');\n                return [\n                    {\n                        json: {\n                            command: parts[0].toUpperCase(),\n                            path1: parts[1] || null,\n                            path2: parts[2] || null\n                        }\n                    }\n                ];\n                "
      },
      "name": "Parse Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "text": "Processing your command: {{$json[\"command\"]}}"
      },
      "name": "Reply Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Reply Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}